##==============================================================================
## LOGO
##
## Configure the logo to your liking. You can either use the default or
## set your own ASCII art down below.
##
## - You can either add it as a single line, or multiline (terminated with \).
## - You have to escape backslashes if you want them to show inside your logo.
##   Use \\\\ for 1 backslash, \\\\\\\\ for two. All other characters work fine.
## - You can also add individual color codes to the logo using '\e[ ··· m'.
## - For example:   \e[1;31mHello World!   prints in bright red.
## - If you want extra spaces between the logo and the status info, just add
##   extra spaces at the last line and end it with '\n'.
##==============================================================================
## LOGO
##==============================================================================

logo="\e[38;5;196m
\e[38;5;196m.^. \e[38;5;159m.~~~~~~\e[38;5;232m.\e[38;5;233m.\e[38;5;234m.\e[38;5;235m.\e[38;5;236m.\e[38;5;237m.\e[38;5;238m.\e[38;5;239m.\e[38;5;240m.\e[38;5;241m.\e[38;5;242m.\e[38;5;243m.\e[38;5;244m.\e[38;5;245m.\e[38;5;246m.\e[38;5;247m.\e[38;5;196m^~~~~.\e[38;5;159m.^~~~~.
\e[38;5;196m.77^.\e[38;5;159m:!?JJJ?~\e[38;5;234m.\e[38;5;235m.\e[38;5;236m.\e[38;5;237m.\e[38;5;238m.\e[38;5;239m.\e[38;5;240m.\e[38;5;241m.\e[38;5;242m.\e[38;5;243m.\e[38;5;244m.\e[38;5;245m.\e[38;5;246m.\e[38;5;247m.\e[38;5;196m!JJJ?:\e[38;5;159m.!JJJ?.
\e[38;5;196m.7JJ7^.\e[38;5;159m.!?JJJ?~\e[38;5;236m.\e[38;5;237m.\e[38;5;238m.\e[38;5;239m.\e[38;5;240m.\e[38;5;241m.\e[38;5;242m.\e[38;5;243m.\e[38;5;244m.\e[38;5;245m.\e[38;5;246m.\e[38;5;247m.\e[38;5;196m!JJJ?.\e[38;5;159m.!JJJ?.
\e[38;5;196m.7JJJJ7^.\e[38;5;159m.!?JJJ?~\e[38;5;238m.\e[38;5;239m.\e[38;5;240m.\e[38;5;241m.\e[38;5;242m.\e[38;5;243m.\e[38;5;244m.\e[38;5;245m.\e[38;5;246m.\e[38;5;247m.\e[38;5;196m!JJJ?:\e[38;5;159m.!JJJ?.
\e[38;5;196m.7JJJJJJ7^.\e[38;5;159m.~?JJJ?~\e[38;5;240m.\e[38;5;241m.\e[38;5;242m.\e[38;5;243m.\e[38;5;244m.\e[38;5;245m.\e[38;5;246m.\e[38;5;247m.\e[38;5;196m!JJJ?.\e[38;5;159m.!JJJ?.
\e[38;5;196m.7JJJ??JJJ7^.\e[38;5;159m.~?JJJ?~\e[38;5;242m.\e[38;5;243m.\e[38;5;244m.\e[38;5;245m.\e[38;5;246m.\e[38;5;247m.\e[38;5;196m!JJJ?.\e[38;5;159m !JJJ?.
\e[38;5;196m.7JJJ7:!?JJJ?^.\e[38;5;159m.~?JJJ?~\e[38;5;244m.\e[38;5;245m.\e[38;5;246m.\e[38;5;247m.\e[38;5;196m!JJJ?.\e[38;5;159m.!JJJ?.
\e[38;5;196m.7JJJ7..\e[38;5;237m:\e[38;5;196m!?JJJ?^.\e[38;5;159m.~?JJJ?~\e[38;5;246m. \e[38;5;196m^?JJ?:\e[38;5;159m.!JJJ?.
\e[38;5;196m.7JJJ7.\e[38;5;159m.^.\e[38;5;237m:\e[38;5;196m!?JJJ?^.\e[38;5;159m.~?JJJ?~.\e[38;5;196m.~??:\e[38;5;159m !JJJ?.
\e[38;5;196m.7JJJ7.\e[38;5;159m.?7^.\e[38;5;237m:\e[38;5;196m!?JJJ?^.\e[38;5;159m.~?JJJ?~.\e[38;5;196m.^.\e[38;5;159m.!JJJ?.
\e[38;5;196m.7JJJ7.\e[38;5;159m.7JJ7^\e[38;5;246m.\e[38;5;237m:\e[38;5;196m!?JJJ?~.\e[38;5;159m.~?JJJ?~.\e[38;5;196m..\e[38;5;159m!JJJ?.
\e[38;5;196m.7JJJ7.\e[38;5;159m.7JJJ7\e[38;5;246m.\e[38;5;245m.\e[38;5;244m.\e[38;5;237m:\e[38;5;196m!?JJJ?~.\e[38;5;159m.~?JJJ?~.!JJJ?.
\e[38;5;196m.7JJJ7.\e[38;5;159m.7JJJ7\e[38;5;246m.\e[38;5;245m.\e[38;5;244m.\e[38;5;243m.\e[38;5;242m.\e[38;5;237m:\e[38;5;196m!?JJJ?~.\e[38;5;159m.~?JJJ??JJJ?.
\e[38;5;196m.7JJJ7.\e[38;5;159m.7JJJ7\e[38;5;246m.\e[38;5;245m.\e[38;5;244m.\e[38;5;243m.\e[38;5;242m.\e[38;5;241m.\e[38;5;240m.\e[38;5;237m:\e[38;5;196m!?JJJ?~.\e[38;5;159m.~?JJJJJJ?.
\e[38;5;196m.7JJJ7.\e[38;5;159m.7JJJ7\e[38;5;246m.\e[38;5;245m.\e[38;5;244m.\e[38;5;243m.\e[38;5;242m.\e[38;5;241m.\e[38;5;240m.\e[38;5;239m.\e[38;5;238m.\e[38;5;237m:\e[38;5;196m!?JJJ?~.\e[38;5;159m.~?JJJJ?.
\e[38;5;196m.7JJJ7.\e[38;5;159m.7JJJ7\e[38;5;246m.\e[38;5;245m.\e[38;5;244m.\e[38;5;243m.\e[38;5;242m.\e[38;5;241m.\e[38;5;240m.\e[38;5;239m.\e[38;5;238m.\e[38;5;237m.\e[38;5;236m.\e[38;5;235m:\e[38;5;196m!?JJJ?~\e[38;5;159m.~?JJ?.
\e[38;5;196m.7JJJ7.\e[38;5;159m.?JJJ7\e[38;5;246m.\e[38;5;245m.\e[38;5;244m.\e[38;5;243m.\e[38;5;242m.\e[38;5;241m.\e[38;5;240m.\e[38;5;239m.\e[38;5;238m.\e[38;5;237m.\e[38;5;236m.\e[38;5;235m.\e[38;5;234m.\e[38;5;233m:\e[38;5;196m!?JJJ?~.\e[38;5;159m.~??.
\e[38;5;196m.~777~.\e[38;5;159m.!777~\e[38;5;246m.\e[38;5;245m.\e[38;5;244m.\e[38;5;243m.\e[38;5;242m.\e[38;5;241m.\e[38;5;240m.\e[38;5;239m.\e[38;5;238m.\e[38;5;237m.\e[38;5;236m.\e[38;5;235m.\e[38;5;234m.\e[38;5;233m.\e[38;5;232m.\e[38;5;0m:\e[38;5;196m!7777!: \e[38;5;159m.~.
\e[38;5;240m¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
–––––––––––⎨  \e[38;5;196m𝝢 𝝠 𝝩 𝝞 𝗩 𝗘  \e[38;5;240m⎬–––––––––––

\e[38;5;240m‹ – – – ›  \e[38;5;231m𝗂𝗇𝖿𝗈𝗋𝗆𝖺𝗍𝗂𝗈𝗇 \e[38;5;196m⩘⩗ \e[38;5;231m𝗍𝖾𝖼𝗁𝗇𝗈𝗅𝗈𝗀𝗒 \e[38;5;240m ‹ – – – ›\n"

##==============================================================================
## STATUS INFO
##
## Choose what to print and in what order
## Valid options are:
##
##                      ## SIMPLE ONE-LINERS
## OS                   Linux distribution name
## KERNEL               Kernel version
## CPU                  CPU Name
## SHELL                Shell name
## DATE                 Current date
## UPTIME               System uptime (time since boot)
## USER                 Current user and host names
## NUMLOGGED            Show number of logged in users
## NAMELOGGED           Show names of logged in users
## LOCALIPV4            IPv4
## EXTERNALIPV4         External IPv4 (might be slow)
## SERVICES             Summary of failed services
## CPULOAD              Sys load average(eg. 0.23, 0.26, 0.27 )
## CPUTEMP              CPU temperature (requires lm-sensors)
##
##                      ## SYS LOAD MONITORS
## SYSLOAD_MON          Current CPU load
## MEMORY_MON           Occupied memory
## SWAP_MON             Occupied SWAP
## HDDROOT_MON          / partition occupied
## HDDHOME_MON          /home/user occupied
## CPUTEMP_MON          CPU temperature (requires lm-sensors)
## SYSLOAD_MON%         Current CPU load in %
## MEMORY_MON%          Occupied memory in %
## SWAP_MON%            Occupied SWAP in %
## HDDROOT_MON%         / partition occupied in %
## HDDHOME_MON%         /home/user occupied in %
##
##                      ## MISC
## SPACER               Print decorative spacer (empty line)
## PALETTE              Show 16-bit palette (add SPACER before for best results)
## PALETTE_SMALL        Show smaller version of 16-bit color palette
##
##==============================================================================
print_info="
 PALETTE_SMALL
 SPACER
 USER
 DATE
 SPACER
 OS
 KERNEL
 UPTIME
 SHELL
 EXTERNALIPV4
 SPACER
 CPU
 GPU
 SPACER
 SYSLOAD_MON%
 MEMORY_MON
 SWAP_MON
 HDDROOT_MON
 HDDHOME_MON
 SPACER
 SERVICES"

##==============================================================================
## COLORS
##
## Control the color and format scheme of the status report.
## -c color: color name or 256bit color code
## -b background color: color name or 256bit color code
## -e effect: bold, blink, dim, underline...
##
## Valid color names (16 bit):
## white, light-gray, dark-gray, black,
## red, green, yellow, blue, magenta, cyan,
## light-red, light-green, light-yellow, light-blue, light-magenta, light-cyan
##
##==============================================================================

format_info="           -c 240                  "
format_highlight="      -c 159  -e bold         "
format_crit="           -c 196  -e bold         "
format_deco="           -c 229                  "
format_ok="             -c 159  -e bold         "
format_error="          -c 222  -e bold -e blink"
format_logo="           -c light-gray   -e bold "

##==============================================================================
## STATUS BARS
##
## These option controls the behaviour of the visual status bars that are
## plotted for CPU, Memory, Swap and HDD usage. You can set the percentage that
## determines when the current usage is deemed critical. If said percentage
## is surpassed, the color of the bars will change and extra information
## might be plotted in addition (e.g. if the CPU usage is too high, the most
## demanding processes are printed to terminal).
##==============================================================================

bar_cpu_crit_percent=80
bar_ram_crit_percent=85
bar_swap_crit_percent=85
bar_hdd_crit_percent=85
bar_home_crit_percent=85

bar_ram_units="MB"
bar_swap_units="MB"
bar_hdd_units="GB"
bar_home_units="GB"

cpu_crit_print=true
cpu_crit_print_num=3
ram_crit_print=true
ram_crit_print_num=3

bar_length=9                # Number of characters that comprise a bar
bar_num_digits=5             # Control num digits next to bar
bar_padding_after=0  # Extra spaces after bar
info_label_width=16          # Desired length of the info labels
# bar_bracket_char_left='⎨'
# bar_bracket_char_right='⎬'
bar_bracket_char_left='['
bar_bracket_char_right=']'
bar_fill_char='|'
# bar_fill_char='∷'
# bar_fill_char='≡'
# bar_fill_char='∎'
bar_background_char=' '

##==============================================================================
## OTHERS
##
## For date format setup, see `man date`
##==============================================================================

print_cols_max=120              # Keep logo and info text together
print_logo_right=false          # Change where the logo is plotted
date_format="%Y.%m.%d - %T"     # see 'man date'
clear_before_print=false        # Dangerous if true, some messages might be lost
print_extra_new_line_top=false   # Extra line before logo and info
print_extra_new_line_bot=true   # Extra line after logo and info
